@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #fff;
  margin: 0 auto;
  animation: spinner 2s linear infinite;
}

.h-500 {
  height: 420px !important;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #ff0000;
}

.editBtn {
  display: flex;
  align-items: center;
  cursor: pointer;
  opacity: 0;
  transition: 0.9s ease;
}

.container :hover .editBtn {
  opacity: 1.5;
}
